
<div class="sub-page container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center"> <b>CALL FOR WORKSHOP PAPERS</b></h2>
            <hr>
            <h2> <b>Future Generation Intelligent Systems for Biomedical Applications </b></h2>
            <hr>
            <div class="left">
                <div>
                    <h3> <b>WORKSHOP ORGANIZERS:</b> </h3>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            Dr. Utku Kose, Suleyman Demirel University, Turkey <br> 
                            <a href="#">utkukose@sdu.edu.tr</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3> <b>WORKSHOP DESCRIPTION:</b> </h3>
                    <hr>
                    <p>
                        Artificial Intelligence is known as the science of today and the future world. That’s because it combines advanced algorithms, which are able to learn from problem states or run just heuristic, rule-based methods to deal with complexity of target solutions. Eventually, it has been a great scientific field as it has strong relations with different technologies to derive many different software and hardware based intelligent systems. From automated decision-making tools to Internet of Things, or robotic systems to wireless sensing wearables, Artificial Intelligence has already influenced every side of the modern life. Intelligent systems have critical role in all fields of the life but some of critical fields have remarkable importance for the future of the humankind. Biomedical is one of these fields because it is related to biological and medical applications.
                        <br>
                        As the humankind is experiencing the issue of COVID-19 nowadays, importance of intelligent systems has already reached to high levels. It seems that the role of future intelligent systems is too important to shape the future of biomedical applications, as affecting the way of new generations and the world. Moving from that, objective of this workshop is to enable international researchers to present the most recent, cutting-edge advances in terms of intelligent systems applied for biomedical problems, by considering the future perspective. The workshop will combine high quality findings as well as both positive and negative outcomes to draw an up-to-date picture of the associated literature. Furthermore, the workshop will open the minds for great knowledge sharing on human-intelligent system interaction in the context of philosophical and technical details of human / nature compatible, trustworthy biomedical solutions.
                    </p>
                </div>
                <div>
                    <h3> <b>RECOMMENDED TOPICS:</b> </h3>
                    <hr>
                    <p>
                        Topics to be discussed in this special session include (but are not limited to) the following: 
                        <br>
                    </p>
                    <p style = "margin-left: 20px">
                        • Future Generation Deep Learning for Medical Diagnosis<br>
                        • Explainable Artificial Intelligence for Trustworthy Biomedical<br>
                        • Internet of Health Things for Diagnosis and Treatment<br>
                        • Future Generation Hybrid Intelligent Systems for Healthcare<br>
                        • Future Generation Intelligent Systems for Pandemics Control<br>
                        • Future Generation Security for Intelligent Healthcare Systems<br>
                        • Wearables for Personal Healthcare<br>
                        • Future Intelligent Systems for Bioinformatics<br>
                        • Artificial General Intelligence for Biomedical Applications<br>
                        • Ambient Intelligence for Massive Healthcare<br>
                        • Future Generation Swarm Intelligence for Biomedical<br>
                        • Future Drug Discovery with Artificial Intelligence<br>
                        • Future Healthcare Hard Robotics / Soft Robotics<br>
                        • Artificial Intelligence for Medical Big Data<br>
                        • Usability of Intelligent Systems for Biomedical Applications<br>
                        • Ethics and Safety of Artificial Intelligence for Biomedical<br>
                    </p>
                </div>
                <div>
                    <h3> <b>SUBMISSION PROCEDURE:</b> </h3>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <b>Submissions should be done via EasyChair:  </b> 
                            <a href = "https://easychair.org/conferences/?conf=fugenisba2021 " target="_blank">https://easychair.org/conferences/?conf=fugenisba2021 </a>
                        </li>
                        <li class="list-group-item"> 
                            <b>CFP of the workshop:  </b> 
                            <a href = "https://easychair.org/cfp/FuGenISBA2021 " target="_blank"> https://easychair.org/cfp/FuGenISBA2021 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
