
<div class="sub-page container">
<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center"> <b>CALL FOR WORKSHOP PAPERS</b></h2>
        <hr>
        <h2> <b> Future Generation in Higher Educational Systems </b></h2>
        <hr>
        <div class="left">
            <div>
                <h3> <b>WORKSHOP ORGANIZERS:</b> </h3>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <p>
                            <b>Hanane Allioui, Cadi Ayyad University, Morocco</b> <br>
                            <a href="#">Hananeallioui@gmail.com</a>
                        </p>
                    </li>
                    <li class="list-group-item"> 
                        <p>
                            <b>Azzeddine Allioui, Cadi Ayyad University, Morocco</b><br>
                            <a href="#">azzeddine.allioui@gmail.com</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <h3> <b>WORKSHOP DESCRIPTION:</b> </h3>
                <hr>
                <p>
                    The leading paradigm of learning as content transfer has been thoroughly criticized and disgraced, but an innovative paradigm based in both the cognitive and behavioral sciences has not arisen. Eventually, innovative computing in higher educational systems remains a great scientific field as it is related to different disciplines in order to improve the current systems, provide automated decision-making tools and promote scientific works. 
                    <br>
                    As the unexpected arrival of COVID-19 has raised humanity's awareness, the importance of increasingly advanced systems has become a necessity to ensure the proper functioning and high performance of today's systems. It seems that the role of future generations is important enough to shape the future of educational systems. In this context, the objective of this workshop is to enable international researchers to present the most recent and cutting-edge advances in terms of Future Generation in Educational Systems, looking at the future prospects. The workshop will combine high quality results as well as positive and negative findings in order to provide an up-to-date picture of the associated literature.
                </p>
            </div>
            <div>
                <h3> <b>RECOMMENDED TOPICS:</b> </h3>
                <hr>
                <p>
                    Topics to be discussed in this special session include (but are not limited to) the following: 
                    <br>
                </p>
                <p style = "margin-left: 20px">
                    • Artificial Intelligence for higher education systems<br>
                    • Future Generation Deep Learning for higher Educational systems<br>
                    • Internet of Things for higher educational issues<br>
                    • Future Generation Hybrid Systems for Education<br>
                    • Wearables for higher Educational improvement<br>
                    • Adaptive Systems for higher Educational systems<br>
                    • Optimizations studies for higher Educational systems <br>
                </p>
            </div>
            <div>
                <h3> <b>SUBMISSION PROCEDURE:</b> </h3>
                <hr>
                <p>All the submissions must be original and may not be under review by another publication.</p>
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <p>
                            <b>INTERESTED AUTHORS SHOULD CONSULT THE CONFERENCE’S GUIDELINES FOR MANUSCRIPT SUBMISSIONS</b> at 
                            <a href ="http://icicc-conf.com/paper_submission.html" target="_blank">http://icicc-conf.com/paper_submission.html </a>. 
                            <br>
                            All submitted papers will be reviewed on a double-blind, peer review basis.
                        </p> 
                    </li>
                    <li class="list-group-item"> 
                        <b>Authors must send their papers on the following emails: </b> <br>
                        <a> allioui.h.reviews@gmail.com </a> <br>
                        <a> hanane.allioui@edu.uca.ac.ma  </a> <br>
                    </li>
                </ul>
            </div>
            <div>
                <h3> <b>LEAD WORKSHOP ORGANIZER: </b> </h3>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <p>
                            <b>Hanane Allioui, Cadi Ayyad University, Morocco</b><br>
                            <a href="#">Hananeallioui@gmail.com</a>
                            <br>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
