
<div class="sub-page container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center"> <b>CALL FOR WORKSHOP PAPERS</b></h2>
            <hr>
            <h2> <b>Sustainable Heterogeneous Energy-Aware Systems for Next Generation Devices and Networks </b></h2>
            <hr>
            <div class="left">
                <div>
                    <h3> <b>WORKSHOP ORGANIZERS:</b> </h3>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <p>
                                Mazin Abed Mohammed, Ph.D. College of Computer Science and Information Technology, University of Anbar, Iraq. <br>
                                <a href="#">mazinalshujeary@uoanbar.edu.iq</a>
                            </p>
                        </li>
                        <li class="list-group-item"> 
                            <p>
                                Korhan Cengiz, PhD, SMIEE Department of Electrical-Electronics Engineering Trakya University, 22030, Edirne, Turkey<br>
                                <a href="#">korhancengiz@ieee.org</a>
                            </p>
                        </li>
                        <li class="list-group-item"> 
                            <p>
                                Dr. Mashael S. Maashi, PhD. Software Engineering Department, College of Computer and Information Sciences, King Saud University; Saudi Arabia.
                                <br>
                                <a href="#">mmaashi@ksu.edu.sa</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3> <b>WORKSHOP DESCRIPTION:</b> </h3>
                    <hr>
                    <p>
                        The mobile systems were utilized exclusively with the end goal of voice calls, and endeavors were made to enhance the exhibitions. Presently the information management systems have turned into a fundamental part of the mobile systems. The improved data services are the major motivations behind the emergence of IEEE 802.16m, IEEE 802.16p, IEEE 802.16n and IEEE 802.16.1a. The research community is working towards providing integrated intelligence, simplified network architecture, high bandwidth performance capabilities with on-demand scalability and enhanced mobility. Even though the wireless era has given enormous lifestyle accessories to the end users, still the device technologies need further enhancements in green aware solutions, such as power optimized transactions, adaptive battery power consumption, optimized power aware mobile applications and computation offloading. The emergence of unstructured data and social microblogging contributes to the majority of internet traffic, and the amount of traffic proportionally increases the power consumption. Meantime, the vendor-independent heterogeneous platforms, networks, and databases drain the battery discharging units in various levels of data activity.
                        <br>
                        Therefore, the next generation system needs to be designed with an eye on optimizing the energy consumption in the domains of next-generation wireless systems, health informatics equipment, sustainable agricultural systems and various applications and systems of IoT. The power-aware algorithms, machine learning approaches, Software Defined Networking (SDN) implants, optimized data services and minimized data activities are the further strategies to improve energy aware heterogenous next-generation systems.
                    </p>
                </div>
                <div>
                    <h3> <b>RECOMMENDED TOPICS:</b> </h3>
                    <hr>
                    <p>
                        Topics to be discussed in this special session include (but are not limited to) the following: 
                        <br>
                    </p>
                    <p style = "margin-left: 20px">
                        • Adaptive Systems for Wireless Communications<br>
                        • Energy-Efficient Location-Sensing<br>
                        • Energy-Optimal Scheduling<br>
                        • Synchronization Techniques in eNodeB and RAN (Radio Access Networks)<br>
                        • Power-Aware D2D Techniques<br>
                        • Sustainable IoT Frameworks for Agricultural Systems<br>
                        • Smart Patient Monitoring Systems <br>
                        • Sustainable Real-Time Systems <br>
                        • Heuristic Algorithms for Activity Based Data Services <br>
                        • Energy Predictive Models and Algorithms <br>
                        • Web-Enabled Real-World Devices for Health Informatics <br>
                        • Block-chain and Backdoor applications on IoT communications <br>
                        • Artificial Intelligence and Information Systems<br>
                        •  Machine learning approaches for  image processing applications<br>
                        • Optimizations algorithms for complex solutions<br>
                        • Deep learning methods for decision making problems<br>
                        • Deep learning approaches for big data analytics problems<br>
                    </p>
                </div>
                <div>
                    <h3> <b>SUBMISSION PROCEDURE:</b> </h3>
                    <hr>
                    <p>All the submissions must be original and may not be under review by another publication.</p>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <p>
                                <b>INTERESTED AUTHORS SHOULD CONSULT THE CONFERENCE’S GUIDELINES FOR MANUSCRIPT SUBMISSIONS</b> at 
                                <a href ="http://icicc-conf.com/paper_submission.html" target="_blank">http://icicc-conf.com/paper_submission.html </a>. 
                                <br>
                                All submitted papers will be reviewed on a double-blind, peer review basis.
                            </p> 
                        </li>
                        <li class="list-group-item"> 
                            <b>Authors must send their papers on the following emails: </b> <br>
                            <a> mazinalshujeary@uoanbar.edu.iq </a> <br>
                            <a> mazin_top_86@yahoo.com  </a> <br>
                            <a> korhancengiz@ieee.org</a> <br>
                            <a> mmaashi@ksu.edu.sa </a> <br>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3> <b>LEAD WORKSHOP ORGANIZER: </b> </h3>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <p>
                                Mazin Abed Mohammed, Ph.D. College of Computer Science and Information Technology, University of Anbar, Iraq. <br>
                                <a href="#">mazinalshujeary@uoanbar.edu.iq</a>
                                <br>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
