<div class=" col-md-12 left ">
<h1>Technical Partners</h1>
</div>

<div class=" col-md-12 right ">

<div class="slick-publishing">
  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/uilogo.bbf247b9.jpeg" style="max-width : 100%" alt="axure"></div>
    <div> <h6>Universal Inovators</h6></div>
  </div>

  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/ssclogo.fb151acf.png" style="max-width : 100%"></div>
    <div> <h6>SSCBS (DU)</h6></div>
  </div>

  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/nitplogo.fb5037d4.jpeg" style="max-width : 100%"></div>
    <div> <h6>NITP</h6></div>
  </div>
  
  <div class="outer_div_slick">
    <div class="images-key-note"><img src="/gallery/logospain.png" style="max-width : 100%"></div>
    <div> <h6>UVA Spain</h6></div>
  </div>

  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/minlogo.8ca86834.png" style="max-width : 100%"></div>
    <div> <h6>Ministry of Electronics and IT</h6></div>
  </div>

  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/dilogo.82e4cb06.jpg" style="max-width : 100%"></div>
    <div> <h6>Digital India</h6></div>
  </div>

  <div class="outer_div_slick">
    <div class="images-key-note"><img src="https://universal-inovators.com/static/media/thinklogo.7736c151.jpeg" style="max-width : 100%"></div>
    <div> <h6>Think Pariyawaran</h6></div>
  </div>
  <div class="outer_div_slick">
    <div class="images-key-note"><img src="/sponsors/img6.png" style="max-width : 100%"></div>
    <div> <h6>NeGD</h6></div>
  </div> 
</div>


<script type="text/javascript">
$(document).ready(function(){
  $('.slick-publishing').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500
  });
});
</script>
</div>
