<section class="sub-page" id="sponsorship">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>Accommodation</h1>
        <hr>
        <h4>Authors can book their OYO Rooms here and get upto 20% discount in the following mentioned properties: </h4>
        <p>
         <b>URGENT:</b> To get discount coupon, Please call Mr. Robin and mention <b>“ICICC”</b> <br>
         <b>Contact- ROBIN JAIN : 9950567152</b>
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="font-weight: bold;"> S. No.</th>
                <th style="font-weight: bold;"> Property Name </th> 
                <th style="font-weight: bold;"> Single Occupancy </th>
                <th style="font-weight: bold;"> Double Occupancy </th>
                <th style="font-weight: bold;"> Triple Occupancy </th>
                <th style="font-weight: bold;"> Map Link </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> 1 </td>
                <td> OYO Townhouse 278</td>
                <td> 2200</td>
                <td> 2400</td>
                <td> 2600</td>
                <td> <a href="http://bit.ly/2qH1Zgp" target= "_blank">http://bit.ly/2qH1Zgp<a></td>
            </tr>
            <tr>
                <td> 2</td>
                <td> OYO Townhouses 279</td>
                <td> 2200</td>
                <td> 2400</td>
                <td> 2600</td>
                <td> <a href="http://bit.ly/2SfICXs" target= "_blank">http://bit.ly/2SfICXs <a></td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> OYO Flagship 47937</td>
                <td> 1500</td>
                <td> 1700</td>
                <td> 1900</td>
                <td> <a href="http://bit.ly/320iaG0" target= "_blank">http://bit.ly/320iaG0 <a></td>
            </tr>
            <tr>
                <td> 4</td>
                <td> OYO Townhouse 372 </td>
                <td> 2000</td>
                <td> 2200</td>
                <td> 2500</td>
                <td> <a href="http://bit.ly/2PLdgdr" target= "_blank">http://bit.ly/2PLdgdr <a></td>
            </tr>
            <tr>
                <td> 5</td>
                <td> Collection O 37798 </td>
                <td> 1750 </td>
                <td> 1850 </td>
                <td> 1950 </td>
                <td> <a href="http://bit.ly/2Wepagr" target= "_blank"> http://bit.ly/2Wepagr <a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h4> <b>Standard Veg Menu </b></h4>
          <b> 1 Salad |  2 Veg Main | 1 Dal | 1 Rice | 1 Bread | 1 Dessert </b> <br>
          <b> Price : </b> 600/- + Tax <br> <hr>
          
        </div>
        <div>
         <h4> <b>Option 1 - </b></h4>
         <h4> <b> Go to </b> <a href="http://www.caspiahotels.com" target="_blank">www.caspiahotels.com</a> </h4>
         <li> <b>Single Room Rate :</b> INR 2600 CPAI </li> 
         <li> <b>Double Room Rate :</b> INR 3600 CPAI </li> 
         <li> <b>Special Code :</b> ICICC ( needs to be enter in Corporate/Promotional Code ) </li> 
         <h4> <b>Option 2 - </b></h4>
         <li> Here you can add OYO Rooms matter which is already available on website </li>
         <br>
         <br>
         <b>Contact- ROBIN JAIN : 9950567152</b>
        </div>
         
      </div>




    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
