<!DOCTYPE html>
<html>
<head>
	<title>Awards</title>
</head>
<body>

<div class="row" style="margin: 15px;" >
	<div class="col-md-12">
		<h3 style="text-align:center"><strong>2nd Universal Inovators LEADERSHIP AWARDS (UILA 2021)</strong><hr></h3>
		<h4 style="text-align:center"><strong><span>About Universal Inovators Leadership Awards (UILA)</span></strong></h4>
		<p>UI Leadership Awards is to honor the determined effort and achievements of Change makers who have made their performance and innovative excellence in their respective field. It is a very special and unique set up, it involves <b>International Excellence awards</b> in various categories. UI Leadership award creates a world-wide recognition and reserves the own space in the Society for the winning profiles. As such it also provides participants with an ideal opportunity to make their work visible to a wider audience. </p>

		<p>2nd UI Leadership awards will be organized along with 4th International Conference on Innovative Computing and Communication organized jointly by Shaheed Sukhdev College of Business Studies (University of Delhi), National Institute of Technology Patna and Universal Inovators at Shaheed Sukhdev College of Business Studies, New Delhi, India.</p>
	</div>
	<div class="col-md-8">
		<h3> <b>IMPORTANT DATES:</b> </h3>
		<hr>
		<ul class="list-group">
			<li class="list-group-item"> 
				Last date for nomination - <b>December 31st, 2020</b>
			</li>
			<li class="list-group-item"> 
				Announcement of Result - <b>January 31st, 2021</b>
			</li>
		</ul>
	</div>
	
	<br />
	<div class="col-md-8">
		<h3> <b>REGISTRATION FEES:</b> </h3>
		<hr>
		<ul class="list-group">
			<li class="list-group-item"> 
				NOMINATION FEES: <b>INR 7000 or $150</b>
			</li>
			<li class="list-group-item"> 
				<b>If not selected the fees will be refunded (after deduction of 20% processing charges) with in 30 working days from the date of announcement of Results.</b>
			</li>
		</ul>
	</div>
	<br />
	<div class="col-md-12">
		<h3> <b>AWARD CATEGORY:</b> </h3>
	<hr>
	<h5> <b>Leadership awards will honor the awards in the following categories:</b> </h5>
	<br />
	• <b>“Life time achievement Award”</b> to honor outstanding leaders in education who have dedicated their life to the enhancement of the Institution/Organization and advancing the field of education with their pioneering spirit, demonstrated innovation, advocacy and career achievements that have improved the education industry. The Lifetime Achievement Award would be presented to an individual member whose long-term efforts, dedication, and sustained commitment has supported the organization/ Society/ Research/ Mankind.<br />
	• <b>“Young Researcher Award”</b> to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences, having age not more than 35.<br />
	• <b>“Best Teacher Award”</b> for teaching professionals for excellence in teaching.<br />
	• <b>“Best Researcher Award”</b> to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences.<br />
	• <b>“Best Research Paper Award”</b> for writing the excellent paper published in reputed journal like Nature.<br />
	• <b>“Best PG Thesis Award”</b> award to the PG students for their thesis.<br />
	• <b>“Best Research Thesis Award”</b> award to the Ph.D. students for their thesis.<br />
	• <b>“Best Research Project Award”</b> award to the UG/PG/PhD students for project. <br />
	• <b>“Best Head of Department Award”</b> for the HOD's of various Academic Departments of Educational Institutes for their excellence in leadership and management.<br />
	• <b>“Best Dean of Department Award”</b> for the Dean's of various Academic Departments of Educational Institutes for their excellence in leadership and management.<br />
	• <b>“Best Principal Award”</b> Award for the Principals of the Higher Educational Institutes.<br />
	• <b>“Best Director Award”</b> Award for the Directors of the Higher Educational Institutes<br />
	• <b>“Highly Cited Paper Award”</b> for the paper which is cited highly on Google scholar.<br />
	• <b>“Best PhD Thesis Award”</b> award to the best PhD thesis.</br>
	• <b>“Best Innovation Award”</b> for the best innovation.</br>
	• <b>“Best Entrepreneur Award”</b> award to the entrepreneur of the year.</br>
	• <b>“Researcher of the Year”</b> </br>
	• <b>“Teaching Excellence Award”</b> </br>
	• <b>“Professor of the Year”</b> </br>
	• <b>“Scientist of the Year” </b> </br>
	• <b>“Faculty of the Year”</b> </br>
	• <b>“Research Achievement Award”</b> </br>
	• <b>“Academic Professional Award”</b> </br>
	• <b>“Administrator of the Year”</b> </br>
	• <b>“Supervisor of the Year”</b> </br>
	• <b>“Outstanding Academic Leader of the Year”</b>
	• <b>“START-UP of the Year Award”</b> - award to best start-up </br>
	• <b>“Young Innovator Award”</b> - award to young enterpreneur </br>
	• <b>“Womanovator Award”</b> - award given to woman enterpreneur</br>
	
	</p>

		<h3> <b>SUBMISSION:</b> </h3>
		<hr>
		<p>
		Please fill the attached form and send it along with complete CV and payment registration receipt to icicc.conf@gmail (Subject: Award [Category]).<br />
		If applying for best paper or thesis awards, then mail us filled form, CV, paper/thesis, and payment receipt to icicc.conf@gmail (Subject: Award [Category]).<br />
		</p>
	</div>
	
	<div class="col-md-8">
		<h3> <b>ACCOUNT DETAILS:</b> </h3>
	<hr>
	<div style="border: 1px solid black ; padding:20px">
		<table class="table table-bordered table-hover">
		  <tbody>
			<tr> 
			  <td><b>ACCOUNT NAME </b></td>
			  <td> ICICC</td>
			</tr>
			<tr> 
			  <td><b>ACCOUNT NUMBER </b></td>
			  <td> 510909010080523</td>
			</tr>
			<tr> 
			  <td><b>BANK </b></td>
			  <td>  City Union Bank</td>
			</tr>
			<tr> 
			  <td><b>BRANCH </b></td>
			  <td> Sector-8, Rohini, Delhi </td>
			</tr>
			<tr> 
			  <td><b> Branch CODE </b></td>
			  <td> 244</td>
			</tr>
			 <tr> 
			  <td><b> IFSC CODE </b></td>
			  <td> CIUB0000244 </td>
			</tr>
			<tr> 
			  <td><b> MICR </b></td>
			  <td> 600054027</td>
			</tr>
			<tr> 
			  <td><b> SWIFT CODE </b></td>
			  <td> CIUBIN5M</td>
			</tr>
			<tr> 
			  <td><b> ACCOUNT TYPE </b></td>
			  <td> CURRENT</td>
			</tr>
		  </tbody>
		</table>
	  </div>

	<br><br>

	<ul class="list-group">
		<li class="list-group-item"> 
			<h3> Award Form - <a href="/Award-Form.pdf" download><b>Clik Here to Download</b></a></h3>
		</li>
	</ul>

	</div>
</div>
</body>
</html>