<!DOCTYPE html>
<html>
<head>
	<title>Awards</title>
</head>
<body>

<div class="row" style="margin: 15px;" >
	<div class="col-md-12">
		<h3 style="text-align:center"><strong>2nd Universal Inovators LEADERSHIP AWARDS (UILA 2021)</strong><hr></h3>
		<h4 style="text-align:center"><strong><span>About Universal Inovators Leadership Awards (UILA)</span></strong></h4>
		<p>UI Leadership Awards is to honor the determined effort and achievements of Change makers who have made their performance and innovative excellence in their respective field. It is a very special and unique set up, it involves <b>International Excellence awards</b> in various categories. UI Leadership award creates a world-wide recognition and reserves the own space in the Society for the winning profiles. As such it also provides participants with an ideal opportunity to make their work visible to a wider audience. </p>

		<p>2nd UI Leadership awards will be organized along with 4th International Conference on Innovative Computing and Communication organized jointly by Shaheed Sukhdev College of Business Studies (University of Delhi), National Institute of Technology Patna and Universal Inovators at Shaheed Sukhdev College of Business Studies, New Delhi, India.</p>
	</div>
	<div class="col-md-8">
		<h3> <b>IMPORTANT DATES:</b> </h3>
		<hr>
		<ul class="list-group">
			<li class="list-group-item"> 
				Last date for nomination - <b>January 31st, 2021</b>
			</li>
			<li class="list-group-item"> 
				Announcement of Result - <b>February 10th, 2021</b>
			</li>
		</ul>
	</div>
	
	<br />
	<div class="col-md-8">
		<div class="alert alert-info" role="alert">
			<h2 class="alert-heading text-center"> Award is free is cost. Nomination fees is not required. </h2>
		</div>
	</div>
	<br />
	<div class="col-md-12">
		<h3> <b>AWARD CATEGORY:</b> </h3>
		<hr>
		<h4> <b>Leadership awards will honor the awards in the following categories:</b> </h4>
		<br />

		<div class="row">
				<h3 class="container"> <b>Individual Awards</b> </h3>
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Life time achievement Award </h4>
					<hr>
					<p> 
						To honor outstanding leaders in education who have dedicated their life to the enhancement of the Institution/Organization and advancing the field of education with their pioneering spirit, demonstrated innovation, advocacy and career achievements that have improved the education industry. The Lifetime Achievement Award would be presented to an individual member whose long-term efforts, dedication, and sustained commitment has supported the organization/ Society/ Research/ Mankind.
					</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Young Researcher Award </h4>
					<hr>
					<p> To the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences, having age not more than 35. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Researcher Award </h4>
					<hr>
					<p> To the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Head of Department Award  </h4>
					<hr>
					<p> For the HOD's of various Academic Departments of Educational Institutes for their excellence in leadership and management. </p>
					<br>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Dean of Department Award  </h4>
					<hr>
					<p> For the Dean's of various Academic Departments of Educational Institutes for their excellence in leadership and management. </p>
					<br>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Teacher Award </h4>
					<hr>
					<p> For teaching professionals for excellence in teaching. </p>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Research Paper Award </h4>
					<hr>
					<p> For writing the excellent paper published in reputed journal like Nature. </p>
				</div>
			</div>
			<div class="col-md-4">
					<div class="alert alert-info" role="alert">
						<h4 class="alert-heading"> Best Principal Award  </h4>
						<hr>
						<p> Award for the Principals of the Higher Educational Institutes.</p>
					</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Research Thesis Award  </h4>
					<hr>
					<p> Award to the Ph.D. students for their thesis. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Research Project Award  </h4>
					<hr>
					<p> Award to the UG/PG/PhD students for project. </p>
				</div>
			</div>
			<div class="col-md-4">
					<div class="alert alert-info" role="alert">
						<h4 class="alert-heading"> Best PG Thesis Award  </h4>
						<hr>
						<p> Award to the PG students for their thesis. </p>
					</div>
			</div>
			
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Director Award  </h4>
					<hr>
					<p> Award for the Directors of the Educational Institutes.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Highly Cited Paper Award </h4>
					<hr>
					<p>For the paper which is cited highly on Google scholar. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best PhD Thesis Award  </h4>
					<hr>
					<p>Award to the best PhD thesis. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Innovation Award  </h4>
					<hr>
					<p> For the best innovation. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Entrepreneur Award  </h4>
					<hr>
					<p> Award to the entrepreneur of the year. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Researcher of the Year</h4>
					<hr>
					<p> Award for Researcher of the year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Teaching Excellence Award</h4>
					<hr>
					<p> Award for Teaching Excellence.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Professor of the Year </h4>
					<hr>
					<p> Award for Professor of the year. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Scientist of the Year</h4>
					<hr>
					<p> Award for Scientist of the year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Faculty of the Year </h4>
					<hr>
					<p> Award for Faculty of the year. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Research Achievement Award</h4>
					<hr>
					<p> Award for Research Achievement.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Academic Professional Award </h4>
					<hr>
					<p> Award for Academic Professional.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Administrator of the Year </h4>
					<hr>
					<p> Award for Administrator of the year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Supervisor of the Year</h4>
					<hr>
					<p>Award for Supervisor of the year. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Outstanding Academic Leader of the Year </h4>
					<hr>
					<p> Award for Outstanding Academic Leader of the year. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> START-UP of the Year Award </h4>
					<hr>
					<p> Award to best start-up.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Young Innovator Award </h4>
					<hr>
					<p> Award to young Innovator. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Womanovator Award </h4>
					<hr>
					<p> Award given to womanovator. </p>
				</div>
			</div>
		</div>

		<div class="row container">
				<h3> <b>Higher Education Awards</b> </h3>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best College of the Year (BBA/Bcom/BA/Bsc)</h4>
					<hr>
					<p> This award is to recognize the institutes with excellent courses and pedagogy in undergrad level </p>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Institute offering best certification courses </h4>
					<hr>
					<p>Institute offering certificate courses in language, vocational courses, technology, multimedia, music & dance, skill enhancement etc. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> University of the Year (North) </h4>
					<hr>
					<p> This will be awarded to an institution that has demonstrated exceptional performance in the past academic year.</p>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> University of the Year (South) </h4>
					<hr>
					<p> This will be awarded to an institution that has demonstrated exceptional performance in the past academic year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> University of the Year (East) </h4>
					<hr>
					<p> This will be awarded to an institution that has demonstrated exceptional performance in the past academic year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> University of the Year (West) </h4>
					<hr>
					<p> This will be awarded to an institution that has demonstrated exceptional performance in the past academic year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> International Collaboration of the Year </h4>
					<hr>
					<p> This award will recognize exceptional projects carried out jointly between an Indian institution and one or more international partners. </p>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Business School of the Year (National/Regional)</h4>
					<hr>
					<p> This title will be awarded to the business school demonstrating the most outstanding performance in the past academic year.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Most Emerging Higher Education Institute of the Year </h4>
					<hr>
					<p> Emerging higher education institution lesser than 5 years old in Medical/Engineering/Management field</p>
					<br>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Outstanding ICT Initiative of the Year </h4>
					<hr>
					<p> This award will recognize and reward an institutional ICT initiative that has demonstrated an innovative, strategic and potentially far-reaching use of ICT in support of the goals of that institution </p>
					<br>
					<br>
				</div>
			</div>
			<div class="col-md-4">
					<div class="alert alert-info" role="alert">
						<h4 class="alert-heading">Most Entrepreneurial Institution of the Year </h4>
						<hr>
						<p> The Awards will recognize institutions that have embedded entrepreneurial activity into the fabric of their institution either through setting Incubation centers or tie-ups with corporate sector for promoting entrepreneurship in higher education </p>
						<br>
					</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Research Project of the Year </h4>
					<hr>
					<p> This will be awarded to the individual or team for innovative research that has a far-reaching impact on its field and has caught, or has the potential to catch, the imagination of the public. It is open to individuals or teams in any discipline at an Indian institution. Nominations must be endorsed by the applicants' institution. </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Excellence in Distance learning education </h4>
					<hr>
					<p> This award is for overcoming geographical challenges without diluting the quality </p>
				</div>
			</div>
			<div class="col-md-4">
					<div class="alert alert-info" role="alert">
						<h4 class="alert-heading"> Teaching Excellence Awards</h4>
						<hr>
						<p> This will be awarded to the individual for demonstrating the upgraded curriculum and teaching methodologies </p>
					</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Higher Education Publisher of the Year </h4>
					<hr>
					<p> The Award will recognize a Leading publisher who has brought out the best content in Higher education</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Private University</h4>
					<hr>
					<p>Best academic delivery with desired infrastructure, best practices & working for the cause of Education </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Infrastructure of the Year</h4>
					<hr>
					<p> </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Institute with best placement</h4>
					<hr>
					<p> </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Engineering College of the Year (Regional / National)</h4>
					<hr>
					<p> </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"> Best Medical College of the Year (Regional / National)</h4>
					<hr>
					<p> </p>
				</div>
			</div>
		</div>

		<h3> <b>SUBMISSION:</b> </h3>
		<hr>
		<p>
			Please fill the attached form and send it along with complete CV to universalinovators@gmail.com (Subject: Award [Category/Sub-Category]).<br />
		
		    If applying for best paper or thesis awards, then mail us filled form, CV, paper/thesis to universalinovators@gmail.com (Subject: Award [Category/Sub-Category]).<br />
		</p>
	</div>

	<br><br>

	<ul class="list-group">
		<li class="list-group-item"> 
			<h3> Award Form - <a href="/Award-Form.pdf" download><b>Clik Here to Download</b></a></h3>
		</li>
	</ul>

	</div>
</div>
</body>
</html>