<section class="sub-page" id="special_sesion">
  <div class="row">
    <div class="col-md-12">

<u><b>Invitation to conduct International Workshop in ICICC 2021</b></u> <br><br>

<b>Dear Sir/ MamDear Researcher/Colleagues</b><br><br> 

Greeting from ICICC-2021!<br><br>
ICICC Conference team invites you to organize the International Workshop in the fourth version of International Conference on Innovative Computing and Communications (ICICC-2021), to be held at Shaheed Sukhdev College of Business Studies (University of Delhi), Sector 16, Rohini, Delh110089, India during 20-21st February 2021 of your research domain. We are diligently working to bring some of the most knowledgeable researchers from all over the world along with the leaders from the industry to explore the important topics of research. The two day conference will include workshop, technical sessions and keynotes on cutting edge technologies related to our industry.
The URL for the conference: <a href="http://icicc-conf.com/"> icicc-conf.com </a>.
<br>
International Conference on Innovative Computing and Communication (ICICC) is organised with the objective of bringing together innovative scientists, professors, research scholars, students and industrial experts in the field of Computing and Communication to a common forum. The primary goal of the conference is to promote the exchange of innovative scientific information between researchers, developers, engineers, students, and practitioners. Another goal is to promote the transformation of fundamental research into institutional and industrialized research and to convert applied exploration into real time application.
<br>
Kindly increase the value of the conference by being part of this conference as a session chair and heading your own session in this esteemed conference. We are aware about your networking skills and of having an eye to identify quality research papers.

<b>Highlights of the International Workshops and Benefits:</b><br>
1. All accepted workshop paper will be published in the Proceedings of ICICC 2021 in Springer AISC series [Scopus Indexed].<br>
2. The workshop organizers will be entitled to receive a renumeration of 15% of the total fees collected in the workshop.<br>
3. The minimum number of registrations in the proposed workshop should be 8.<br>
4. Extended papers in SCI/Scopus/ESCI/DBLP/ACM Digital Library journals. For details see <a href="http://icicc-conf.com/publication" target="_blank"> http://icicc-conf.com/publication </a>.<br>
5. High quality publishing houses are part of this conference like Springer, Elsevier, Inderscience, IEEE, Benthm Science, IGI Global and many more.<br>
6. Special discount for your personal paper if above conditions are met. (If minimum number of papers get registered in your session)<br>
7. Extra weightage and support will be provided for your session extended paper in SCI/ Scopus Journal.<br>
8. Many International and National key note speakers will be delivering their lectures on latest innovative technologies in the conference.<br>
9.Easy accessibility of the well-connected conference venue.<br>

If you are interested to conduct an International Workshop, kindly mail us the workshop proposal at icicc.conf@gmail.com with subject line as <b>“Proposal for ICICC 2021 International Workshop”</b> latest by 20th November 2020 as per the format given below.

<br>
Looking to see you in ICICC-2021.<br><br>

Sincerely,<br><br>

Organizer and Convener <br><br>

<b>ICICC-2021</b><br><br><br><br>

  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <a href="/Workshop_Proposal_Template.docx">
            Workshop_Proposal_Template.docx
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>
  </div>
</section>
