<section class="sub-page" id="special_sesion">
  <div class="row">
    <div class="col-md-12">

<u><b>Invitation to conduct International Workshop in ICICC 2021</b></u> <br><br>

<b>Dear Researcher/Colleagues</b><br><br> 

Greeting from ICICC-2021!<br><br>
ICICC Conference team invites you to organize the <b>International Workshop</b> in the <b>fourth version of International Conference on Innovative Computing and Communications (ICICC-2021)</b>, to be held at Shaheed Sukhdev College of Business Studies (University of Delhi), Sector 16, Rohini, Delh110089, India during <b>20-21st February 2021</b> of your research domain. 
We are diligently working to bring some of the most knowledgeable academician from all over the world and business leaders to discuss critical research topics. The two-day conference will include a workshop, technical workshops and keynotes on our industry's cutting-edge technologies.
<br>
<b>The URL for the conference:</b> <a href="http://icicc-conf.com/"> icicc-conf.com </a>.
<br>
<br>
By being part of this conference as a session chair and leading your own session at this esteemed conference, please increase the importance of the conference. We understand your networking skills and have an eye on identifying quality research papers.
<br>
<br>

<b>Highlights of the International Workshops and Benefits:</b><br> <br>
• All accepted workshop paper will be published in the Proceedings of ICICC 2021 in Springer AISC series [Scopus Indexed].<br>
• The workshop organizers will be entitled to receive a renumeration of 15% of the total fees collected in the workshop.<br>
• The minimum number of registrations should be 8 in the proposed workshop.<br>
• Extended papers in SCI/Scopus/ESCI/DBLP/ACM Digital Library journals. For details see <a href="http://icicc-conf.com/publication" target="_blank"> http://icicc-conf.com/publication </a>.<br>
• High quality publishing houses are part of this conference like Springer, Elsevier, Inderscience, IEEE, Benthm Science, IGI Global and many more.<br>
• Special discount for your personal paper if above conditions are met. (If minimum number of papers get registered in your session)<br>
• Extra weightage and support will be provided for your session extended paper in SCI/ Scopus Journal.<br>
• Many International and National key note speakers will be delivering their lectures on latest innovative technologies in the conference.<br>
• Easy accessibility of the well-connected conference venue.<br>
<br>
<br>
If you are interested to conduct an International Workshop, please email us the workshop proposal at <a>icicc.conf@gmail.com</a> with subject line as <b>“Proposal for ICICC 2021 International Workshop”</b> latest by 30th November 2020 as per the format given on link: <a href=" http://icicc-conf.com/call_for_international_workshops"> http://icicc-conf.com/call_for_international_workshops</a>
<br>
<br>
Looking to see you in ICICC-2021.<br><br>

Sincerely,<br><br>

Organizer and Convener <br><br>

<b>ICICC-2021</b><br><br><br><br>

  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <a href="/Workshop_Proposal_Template.docx">
            Workshop_Proposal_Template.docx
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>
  </div>
</section>
