<section class="sub-page">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>ICICC 2019</h1>
        <p>
        Second version of International Conference in innovative Computing and Communication (ICICC-2019) was organized at VSB-Technical University of Ostrava, Czech Republic, Europe on 21-22nd March 2019 with a pre-conference symposium at New Delhi, India on 16th March 2019. ICICC-2019 received 552 papers from approximately 2208 authors and a total of 125 papers were accepted with an acceptance ratio of 22%. All accepted papers were published in Springer’s Advances in Intelligent Systems and Computing, an scopus indexed series. A total of 524 participants attended the conference and pre-conference symposium including authors, keynotes, delegates, academicians, and industry experts. ICICC-2019 received papers from 25 countries.
        </p>
        <div class="row publish-partner">
            <%= render "icicc19"%>
        </div> 
        <h2>Link of Proceedings of ICICC 2019</h2>
        <ul class="list-group">
            <li class="list-group-item"> 
                <b>Volume 1 :  </b> 
                <a href = "https://www.springer.com/gp/book/9789811512858" target="_blank"> https://www.springer.com/gp/book/9789811512858</a>
            </li>
            <li class="list-group-item"> 
                <b>Volume 2 :  </b> 
                <a href = "https://www.springer.com/gp/book/9789811503238" target="_blank"> https://www.springer.com/gp/book/9789811503238</a>
            </li>
        </ul>
      </div>  
    </div>

    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>
            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>