<section class="sub-page" id="registration">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        
        <p>
          Once Your paper is accepted, the registration process begins. you have to complete the following steps.  <br>
          <b>Step1 - Registration Fee:</b> It is mandatory for at least one author of an accepted paper to register in order for the paper to appear in the proceedings and included in the Technical Program. 
        </p>
        <b> Author/Co-Author Registration Fee Includes (Springer):</b>
        <ol>
          <li> Welcome reception</li>
          <li> Badge </li>
          <li> Confreence Kit with Proceeding</li>
          <li> Participation in the technical program</li>
          <li> Coffee breaks</li>
          <li> Lunch </li>
          <li> Banquet</li>
        </ol>

        <b> Author/Co-Author Registration Fee Includes (Elsevier):</b>
        <ol>
          <li> Welcome reception</li>
          <li> Badge </li>
          <li> Confreence Kit with Proceeding</li>
          <li> Participation in the technical program</li>
          <li> Banquet</li>
        </ol>
        <p>
          <h4><b>Registration Account Details</b></h4>
          <br>
          <div style="border: 1px solid black ; padding:20px">
            <h4 class="text-center text-dark"><b> Pay via Bank Transfer</b></h4>
            <table class="table table-bordered table-hover">
              <tbody>
                <tr> 
                  <td><b>ACCOUNT NAME </b></td>
                  <td> ICICC</td>
                </tr>
                <tr> 
                  <td><b>ACCOUNT NUMBER </b></td>
                  <td> 510909010080523</td>
                </tr>
                <tr> 
                  <td><b>BANK </b></td>
                  <td>  City Union Bank</td>
                </tr>
                <tr> 
                  <td><b>BRANCH </b></td>
                  <td> Sector-8, Rohini, Delhi </td>
                </tr>
                <tr> 
                  <td><b> Branch CODE </b></td>
                  <td> 244</td>
                </tr>
                 <tr> 
                  <td><b> IFSC CODE </b></td>
                  <td> CIUB0000244 </td>
                </tr>
                <tr> 
                  <td><b> MICR </b></td>
                  <td> 600054027</td>
                </tr>
                <tr> 
                  <td><b> SWIFT CODE </b></td>
                  <td> CIUBIN5M</td>
                </tr>
                <tr> 
                  <td><b> ACCOUNT TYPE </b></td>
                  <td> CURRENT</td>
                </tr>
              </tbody>
            </table>
            <%# <hr style="border: 1px solid black">

            <div class="col text-center">
             <button type="button" class="btn btn-primary text-center"> <a style="color:white" href="https://paypal.me/ICICCConference?locale.x=en_GB"  target="_blank" ><b>Click Here to pay via PayPal</b> </a></button>
               <h5 class="text-center text-dark"><b> ( Pay 10% extra for transaction via PayPal ) </b></h5>
            </div> 

            <hr style="border: 1px solid black">

            <div class="col text-center">
             <button type="button" class="btn btn-primary text-center"> <a style="color:white" href="https://www.scupo.in/event/3rd-international-conference-on-innovative-computing-communication/#bookticket"  target="_blank" ><b>Click Here to pay fees online</b> </a></button>
            </div>    %>
          </div>
        </p>



        <!-- <a class="waves-effect waves-light btn">Download Registration Form <i class="fa fa-download" aria-hidden="true"></i>
        </a> -->
        
        <h3 class="text-center">Registration Fee For ICICC-2020 (Springer)</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><b>Category</b></th>
              <th><b>Early Registration(15th Jan 2020)</b></th>
              <th><b>Late Registration(After 15th Jan 2020)</b></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Research Scholar/Student</td>
              <td>INR 6000</td>
              <td>INR 7000</td>

            </tr>
            <tr>
              <td>Academician</td>
              <td>INR 7000</td>
              <td>INR 8000</td>

            </tr>
            <tr>
              <td>Industrial Participants</td>
              <td>INR 8000</td>
              <td>INR 9000</td>

            </tr>
            <tr>
              <td>Foreigner Research Scholar/Student (Outside India)</td>
              <td>USD 150</td>
              <td>USD 200</td>

            </tr>
            <tr>
              <td>Foreigner Academician (Outside India)</td>
              <td>USD 200</td>
              <td>USD 250</td>

            </tr>

            <tr>
              <td>Foreigner Industrial Participant (Outside India)</td>
              <td>USD 250</td>
              <td>USD 300</td>

            </tr>

             <tr>
              <td>Attendee ( Research Scholar/Student )</td>
              <td>INR 1500</td>
              <td>INR 2000</td>
            </tr>

            <tr>
              <td>Attendee ( Academician )</td>
              <td>INR 2000</td>
              <td>INR 2500</td>
            </tr>

            <tr>
              <td>Attendee ( Industry )</td>
              <td>INR 2500</td>
              <td>INR 3000</td>
            </tr>

            <tr>
              <td>Attendee (Research Scholar/Student Outside India)</td>
              <td>USD 50</td>
              <td>USD 100</td>
            </tr>

            <tr>
              <td>Attendee ( Academician Outside India)</td>
              <td>USD 100</td>
              <td>USD 150</td>
            </tr>

             <tr>
              <td>Attendee ( Industry Outside India)</td>
              <td>USD 150</td>
              <td>USD 200</td>
            </tr>
          </tbody>
        </table>
         <h4 class="text-center"><b>Special Discount of 10% for Universal Inovator (UI) Member</b></h4>
      </div>
      <hr>
      <h3 class="text-center col-md-12">Registration Fee For ICICC-2020 (Elsevier)</h3>
      <table class="table table-bordered table-hover">
      <hr>
      <thead>
      <tr>
          <th style="font-weight: bold;">Category</th>
          <th style="font-weight: bold;">Early Registration (Before 15th Jan 2020)</th>
          <th style="font-weight: bold;">Late Registration (After 15th Jan 2020)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>Research Scholar/Student</td>
          <td>INR 3000</td>
          <td>INR 3500</td>
      </tr>
      <tr>
          <td>Academician</td>
          <td>INR 3500</td>
          <td>INR 4000</td>
      </tr>
      <tr>
          <td>Industrial Participants</td>
          <td>INR 4000</td>
          <td>INR 4500</td>
      </tr>
      <tr>
          <td>Foreigner Research Scholar/Student (Outside India)</td>
          <td>USD 100</td>
          <td>USD 120</td>
      </tr>
      <tr>
          <td>Foreigner Academician (Outside India)</td>
          <td>USD 120</td>
          <td>USD 150</td>
      </tr>
      <tr>
          <td>Foreigner Industrial Participant (Outside India)</td>
          <td>USD 150</td>
          <td>USD 200</td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
