<section id="publication">
  <div class="row">
    <div class="col-md-10">
      <div class="left">
        <h1>Keynote Speaker</h1>
        <hr>
        <div class="card speaker">
          <div class="row">
            <div class="col-md-4" class="speaker-img">
              <img src="/oscar-castillo.png"> 
            </div>
            <div class="col-md-8 px-3">
             <div class="card-block px-3">
              <h2 class="card-title"> <b>Oscar Castillo </b></h2>
              <br>
              <h4 class="card-title"> <b>Title: Optimization of Type-2 Fuzzy Systems: Theory and Applications </b></h4>
              <br>
              <h4 class="card-text">  <em> Prof. Oscar Castillo, Ph.D., D.Sc. </em></h4>
              <h4 class="card-text"> <em> Tijuana, Institute of Technology </em></h4>
              <h4 class="card-text"> <em> Tijuana, Mexico </em></h4>
             </div>
            </div>
            <div>
                <a style="margin:10px" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Abstract</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Biography</button>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    Type-2 fuzzy systems are powerful intelligent models based on the theory of fuzzy sets, originally proposed by Prof. Zadeh. Most real-world applications up to now are based on type-1 fuzzy systems, which are built based on the original (type-1) fuzzy sets that extend the concept of classical sets. Type-2 fuzzy sets extend type-1 fuzzy sets by allowing the membership to be fuzzy, in this way allowing a higher level of uncertainty management. Even with the current successful applications of type-1 fuzzy systems, now several papers have shown that type-2 is able to outperform type-1 in control, pattern recognition, manufacturing and other areas. The key challenge in dealing with type-2 fuzzy models is that their design has a higher level of complexity, and in this regard the use of bio-inspired optimization techniques is of great help in finding the optimal structure and parameters of the type-2 fuzzy systems for particular applications, like in control, robotics, manufacturing and others. Methodologies for designing type-2 fuzzy systems using bio-inspired optimization in different areas of application are presented as illustration. In particular, we will cover Bee Colony Optimization, Particle Swarm Optimization, Gravitational Search and similar approaches to the optimization of fuzzy systems in control applications, robotics and pattern recognition. Finally, we will also consider using fuzzy logic for enhancing the performance of metaheuristics, where also good results have been achieved.
                </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                   <b>Oscar Castillo</b> holds the Doctor in Science degree (Doctor Habilitatus) in Computer Science from the Polish Academy of Sciences (with the Dissertation “Soft Computing and Fractal Theory for Intelligent Manufacturing”). He is a Professor of Computer Science in the Graduate Division, Tijuana Institute of Technology, Tijuana, Mexico. In addition, he is serving as Research Director of Computer Science and head of the research group on Hybrid Fuzzy Intelligent Systems. Currently, he is President of HAFSA (Hispanic American Fuzzy Systems Association) and Past President of IFSA (International Fuzzy Systems Association). Prof. Castillo is also Chair of the Mexican Chapter of the Computational Intelligence Society (IEEE). He also belongs to the Technical Committee on Fuzzy Systems of IEEE and to the Task Force on “Extensions to Type-1 Fuzzy Systems”. He is also a member of NAFIPS, IFSA and IEEE. He belongs to the Mexican Research System (SNI Level 3). His research interests are in Type-2 Fuzzy Logic, Fuzzy Control, Neuro-Fuzzy and Genetic-Fuzzy hybrid approaches. He has published over 300 journal papers, 10 authored books, 40 edited books, 200 papers in conference proceedings, and more than 300 chapters in edited books, in total 865 publications according to Scopus (H index=60), and more than 1000 publications according to Research Gate (H index=72 in Google Scholar). He has been Guest Editor of several successful Special Issues in the past, like in the following journals: Applied Soft Computing, Intelligent Systems, Information Sciences, Non-Linear Studies, Fuzzy Sets and Systems, JAMRIS and Engineering Letters. He is currently Associate Editor of the Information Sciences Journal, Applied Soft Computing Journal, Engineering Applications of Artificial Intelligence, Granular Computing Journal and the International Journal on Fuzzy Systems. Finally, he has been elected IFSA Fellow in 2015 and MICAI Fellow member in 2017. He has been recognized as Highly Cited Researcher in 2017 and 2018 by Clarivate Analytics because of having multiple highly cited papers in Web of Science.
                </div>
                </div>
            </div>
            </div>
           </div>
        </div>
        <div class="card speaker">
          <div class="row">
            <div class="col-md-4" class="speaker-img">
              <img style="margin-left:40px" src="/speaker-2.png"> 
            </div>
            <div class="col-md-8 px-3">
             <div class="card-block px-3">
              <h2 class="card-title"> <b>Dr. Zdzislaw Polkowski </b></h2>
              <br>
              <h4 class="card-title"> <b> Topic: General Data Protection Regulation In europe: A case study</b></h4>
              <br>
              <h4 class="card-text">  <em> Dr. Zdzislaw Polkowski, adjunct professor </em></h4>
              <h4 class="card-text"> <em> Department of Business Intelligence in Management, </em></h4>
              <h4 class="card-text"> <em> Wroclaw University of Economics and Business, Poland </em></h4>
             </div>
            </div>
            <div>
                <a style="margin:10px" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7">Abstract</a>
                
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample7">
                <div class="card card-body">
                    The issue of personal data protection in public administration is essentially an
                    &quot;increased risk&quot; issue. This is due to the nature of the processes taking place in these
                    institutions. Often, clients apart from allegations in relation to typical cases, try to question
                    other elements of the activity (e.g. correctness of personal data processing). For this reason,
                    public administration in Europe is monitored by GDPR agenices.
                    Introduced on May 25, 2018, the General Data Protection Regulation (GDPR) takes
                    into account the development of ICT systems, sensibly regulating the aspects of processing
                    not only personal data. GDPR has an innovative approach to risk assessment, based on a
                    balance of protection and the free flow of data. The purpose of this article is to present the
                    case studies of implementing the GDPR in public administration and business.
                    The first part of the article presents the introduction on security of ICT systems . The
                    next part presents an analysis of the literature. The last part of the paper is concentrated on
                    presenting the description of implementing the GDPR in selected public institutions in
                    Poland. Also som case from other europen countres have been presented. The case studies
                    contain the results of the activities which have been done in 2018, 2019 and 2020 year. The
                    conducted activities have shown that still in many entities, there are many problems. Further
                    research may be focused on developing a methods of implementing GDPR.
                </div>
                </div>
            </div>
            </div>
           </div>
        </div>


        <h1> Invited Speakers </h1>
        <hr>
        <div class="card speaker">
          <div class="row">
            <div class="col-md-4" class="speaker-img">
              <img src="/swagatam.png" height="300"> 
            </div>
            <div class="col-md-8 px-3">
             <div class="card-block px-3">
              <h2 class="card-title"> <b>Swagatam Das </b></h2>
              <br>
              <h4 class="card-title"> <b>Title: Deep Generative Adversarial Networks (GANs) with Application to Class Imbalanced Learning</b></h4>
              <h4 class="card-text">  <em> Dr. Swagatam Das. </em></h4>
              <h4 class="card-text"> <em> ISI Kolkata </em></h4>
              <h4 class="card-text"> <em> India </em></h4>
             </div>
            </div>
            <div>
                <a style="margin:10px" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Abstract</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Biography</button>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    Generative Adversarial networks (GANs) are by far the most intriguing addition to the deep learning paradigm post 2014. For a given a training set, GANs learn to generate new data with the same statistics as the training set. For example, a GAN trained on photographs of  particular kind can generate new photographs that look at least superficially authentic to human observers, having many realistic characteristics. This talk will start with an introduction to the working principle of GANs and illustrate a very important application of GANs toward class imbalanced learning, where one or more classes have very few representatives in the training sample. In particular, the talk will focus on GAN based oversampling of the minority class. The talk will finally unearth a few future research avenues concerning GANs.
                </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                   <b>Swagatam Das</b> is currently serving as an associate professor at the Electronics and Communication Sciences Unit of the Indian Statistical Institute, Kolkata, India. His research interests include machine learning and non-convex optimization. Dr. Das has published more than 300 research articles in peer-reviewed journals and international conferences. He is the founding co-editor-in-chief of Swarm and Evolutionary Computation, an international journal from Elsevier. He has also served as or is serving as the associate editors of the Pattern Recognition (Elsevier), Neurocomputing (Elsevier), Information Sciences (Elsevier), Array (Elsevier), IEEE Transactions on Systems, Man, and Cybernetics: Systems, IEEE Computational Intelligence Magazine, IEEE Access, and so on. He is an editorial board member of Progress in Artificial Intelligence (Springer), Applied Soft Computing (Elsevier), Engineering Applications of Artificial Intelligence (Elsevier), and Artificial Intelligence Review (Springer). Dr. Das has 18,500+ Google Scholar citations and an H-index of 64 till date. He has been associated with the international program committees and organizing committees of several regular international conferences including IEEE CEC, IEEE SSCI, SEAL, GECCO, and SEMCCO. He has acted as guest editors for special issues in journals like IEEE Transactions on Evolutionary Computation and IEEE Transactions on SMC, Part C. He is the recipient of the 2012 Young Engineer Award from the Indian National Academy of Engineering (INAE). He is also the recipient of the 2015 Thomson Reuters Research Excellence India Citation Award as the highest cited researcher from India in Engineering and Computer Science category between 2010 to 2014.
                </div>
                </div>
            </div>
            </div>
           </div>
        </div>

        <div class="card speaker">
          <div class="row">
            <div class="col-md-4"  class="speaker-img">
              <img style="margin-left:50px" src="/arun.png"> 
            </div>
            <div class="col-md-8 px-3">
             <div class="card-block px-3">
              <h2 class="card-title"> <b>Arun Kumar Sangaiah </b></h2>
              <br>
              <h4 class="card-title"> <b>Talk: Machine Learning with Internet of Medical Things in Personalized Healthcare Computing </b></h4>
              <h4 class="card-text">  <em> Prof. Arun Kumar Sangaiah </em></h4>
              <h4 class="card-text"> <em> School of Computing Science and Engineering </em></h4>
              <h4 class="card-text"> <em> VIT University, Vellore- 632014, Tamil Nadu, INDIA. </em></h4>
             </div>
            </div>
            <div>
                <a style="margin:10px" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">Abstract</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">Biography</button>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                <div class="card card-body">
                   With the technological advancements, Internet of Things (IoT) has been trending by connecting devices all around and making the people to easily collaborate with the things around them. In the Internet of Medical Things (IoMT), the diagnosis of patients has changed to patient centric rather than the hospital centric. Major advantages of integrating healthcare system with IoT are reduced Cost, Quick Diagnosis, End-to-end affinity and accessibility, Effective Treatment, Reduction in Error, Medication and Device Management, Simultaneous screening and monitoring. There are many research focuses on Machine Learning (ML) that can be integrated with IoT devices to solve these issues. Thus, this keynote explores the various ML techniques that can be implemented to solve the pitfalls in the collaboration of IoT with connected healthcare systems. Moreover, this talk can highlights the latest reported systems, applications of ML techniques in healthcare systems and the trends on wearable and medical devices to monitor activities of humans and issues to be addressed to tackle the challenges.
                </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="multiCollapseExample6">
                <div class="card card-body">
                   <b>Dr. Arun Kumar Sangaiah</b> received his Master of Engineering from Anna University and Ph.D. from VIT University, India. He is currently as a Professor at the School of Computing Science and Engineering, VIT University, Vellore, India. In 2016, he was a visiting professor at School of Computer Engineering at Nanhai Dongruan Information Technology Institute in China for 6 months. In addition, he has been appointed as a visiting professor in Southwest Jiaotong University, Chengdu, Changsha University of Science and Technology, China, Dongguan University of Technology, Guangdong and Hwa-Hsia University of Technology, Taiwan. Further, he has visited many research centres and universities in China, Japan, Singapore and South Korea for join collaboration towards research projects and publications. His areas of research interest include E-Learning, machine learning, software engineering, computational intelligence, IoT.  Dr. Sangaiahís outstanding scientific production spans over 250+ contributions published in high standard ISI journals, such as IEEE-Communication Magazine, IEEE Systems and IEEE IoT. His publications are distributed as follows: 200 papers indexed in ISI-JCR (Q1 :90, Q2 :30, Q3 :40, Q4 :50) and 21 papers indexed in Scopus. In addition, he has authored/edited 8 books (Elsevier, Springer and others) and edited 50 special issues in reputed ISI journals, such as IEEE-Communication Magazine, IEEE-TII, IEEE-IoT, ACM transaction on Intelligent Systems and Technology etc. He has also registered one Indian patent in the area of Computational Intelligence. His Google Scholar Citations reached 4000+ with h-index: 32 and i10-index: 125.  His Google Scholar Citations reached 4500+ with h-index: 24 and i10-index: 69. Finally, Dr. Sangaiah is responsible for Editorial Board Member and Associate Editor of many reputed ISI journals.Further, he has received many awards that includes, India-Top-10 researcher award, Chinese Academy of Science-PIFI overseas visiting scientist award and etc.
                </div>
                </div>
            </div>
            </div>
           </div>
        </div>
    </div>
  </div>
</section>
